@import 'monsters';

app-card-container{
  display: block;
  margin-top: 1rem;
  width: ($totalCardWidth * 3) ;
  margin-left: auto;
  margin-right: auto;

  .card-deck{
    margin-left: 0;
    margin-right: 0;
  }
}
